.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: $white;
  ul {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
  }
  li {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
  .icon-angle-right {
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}