footer {
  nav {
    width: 1020px;
    margin: 0 auto;
  ul {
    list-style: none;
  }
  li {
    margin: 24px 0 0;
  }
  a {
    color:$white;
    text-decoration: none;
      }
    }
  }

.footer {
  &__grobal {
    padding: 60px 0;
    text-align: center;
    background: $footer-back;
    color: $white;
  }

  &__contents {
    display: inline-block;
    width: 22%;
    margin: 0 2% 0 0;
    vertical-align: top;

    &--title {
      color: $white;
      font-size: 16px;
      line-height: 1.4;
      font-weight: normal;
      display: block;
      font-weight: bold;
      img {
        margin: 0 8px 0 0;
        vertical-align: middle;
      }
    }
  }

  // footerロゴ部分
  &__logo {
    display: block;
    margin: 40px 0 0;
    text-align: center;
    a {
      color: $white;
    }
  }
}