.main {
  &__pickup-container {
    padding: 40px 0;
    background-color: $main-back;
  }

  &__pickup-head {
    font-size: 28px;
    text-align: center;
    line-height: 1.4; 
  }
}


.main {
  &__items {
    width: 940px;
    margin: 0 auto;

    &--center-text {
      font-size: 22px;
      margin: 26px 11px;
      text-align: center;
      color: $blue;
    }

    &-container {
      width: 940px;
      margin: 0 auto;
    }
  }
}

.main__items-box {
  margin: 0 0 0 20px;
  width: 213px;
  position: relative;
  float: left;
  background-color: $white;
    &--img {
      width: 213px;
      height: 220px;
      overflow: hidden;
      position: relative;
    }
}

.box--image {
  z-index: 1;
  width: 100%;
  opacity: 1;
}

.main__items-box {
  &--text {
    padding: 16px;
    height: 110px;
  }

  &--title {
    overflow: hidden;
    position: relative;
    font-weight: 400;
    height: 3em;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
  }

  &--num {
    margin: 8px 0 0;
  }

  &--price {
    font-size: 20px;
  }

  &--tax {
    font-size: 10px;
  clear: both;
  }
}

.view-all {
  padding: 20px 0 30px;
  width: 99.5%;
  text-align: right;
}
