%button#facebook-login.btn-defalt.btn-sns.btn-sns-facebook
  %i{class:"fab fa-facebook icon icon-facebook"}
  facebookで登録

%button#google-login.btn-defalt.btn-sns.btn-sns-google
  %i{class:"fab fa-google-plus-g icon icon-google"}
  googleで登録