%button#facebook-login.btn-defalt.btn-sns.btn-sns-facebook
  = fa_icon 'facebook', class: "icon icon-facebook"
  facebookで登録

%button#google-login.btn-defalt.btn-sns.btn-sns-google
  = fa_icon 'google-plus-g', class: "icon icon-google"
  googleで登録