@import "clearfix";

body {
  background: $main-back;
}
.clearfix{
  @include clearfix();
}
.l-right {
  float: right;
}
.l-left {
  float: left;
}

a{
  text-decoration: none;
}

.single {
  background: $main-back;
}